<!-- <div class="animated fadeIn">
   <div class="row">
   <div class="col-sm-12">
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>

                  <th>User Id</th>
                  <th>User Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                  <th>Action</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let users of usersdetails">
                  <td>{{users.userId}}</td>
                  <td>{{users.firstName}}</td>
                  <td>{{users.mobile}}</td>
                  <td></td>

                  <td><button (click)="salonEdit(salons._id)" class="badge badge-success">EDIT</button><button (click)="userDelete(salons._id)" class="badge badge-danger">DELETE</button></td>
                </tr>
              </tbody>
              </table>

              <pagination-controls (pageChange)="p=$event"></pagination-controls> 
              </div>
     
              
            </div>

          </div>
        </div> -->

       <!-- this is starting  -->
        <!-- <div class="row">  
            <div class="col-lg-offset-8 col-lg-4">  
                <input type="text" class="form-control" placeholder="Filter user by Name, UserId..." ng-model="search" />  
                <button (click)="sortUser()" class="badge badge-success" [(ngModel)]="sortUser">SortByName</button>
            </div>  
        </div>  -->

        <div>
        <form ng-submit = "searchByAdmin()">
            <input type="text" class="form-control" placeholder="Filter user by Name, UserId..." ng-model="search" /> <br>
            <input type="submit" value="Search"/>
            <button (click)="sortUser()" class="badge badge-success" [(ngModel)]="sortUser">SortByName</button>

        </form>
        </div>
        <hr /> 

        <div class="table-responsive">  
            <!-- <p class="text-right">  
                <strong>Page:</strong> {{tableParams.page()}},   
                <strong>Count per page:</strong>  
                {{tableParams.count()}}  
            </p>   -->

<!-- 
            <input type="text" class="form-control" placeholder="Filter user by Name, UserId..." ng-model="searchText" /> <br>
            <input type="submit" value="search"  (click)="searchByAdmin(name)" /> -->
            <table class="table table-striped table-bordered" ng-table="tableParams"template-pagination="custom/pager">  
                <tr ng-repeat="let users of usersdetails | filter:searchText | filter: sortUser">  
                    <thead>
                        <tr>
        
                          <th>User Id</th>
                          <th>User Name</th>
                          <th>Country</th>
                          <th>Mobile</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th></th>
                          <th>Action</th>
                        
                        </tr>
                      </thead>
                   
                    <tbody>
                        <tr *ngFor="let users of usersdetails">
                          <!-- <td>{{users._id}}</td> -->
                          <td>{{users.customer_id}}</td>
                          <td>{{users.name}}</td>
                          <td>{{users.country}}</td>
                          <td>{{users.mobile}}</td>
                          <td>{{users.email}}</td>
                          <td>{{users.status}}</td>
                          <td></td>
        
                          <td><button (click)="userEdit(users._id)" class="badge badge-success">EDIT</button><button (click)="deleteUserByAdmin(users._id)" class="badge badge-danger" >DELETE</button></td>
                         
                        </tr>
                        <!-- <script>
                          $(document).ready(function() {
                            $('#example').DataTable( {
                                "pagingType": "full_numbers"
                            } );
                        } );
                        </script> -->
                      </tbody> 
                     
                </tr>  
            </table>  
            
        </div> 


